$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #c9c9c9;

.componente{
  width: 100%;
  background-color:$background-color; 
  display: flex;
  align-items: center;
  justify-content: center;
}


  

