div {
  background-color: rgb(82, 82, 82);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  border-radius: 8px;
  padding-bottom: 20px;
}
.componente {
  width: 100%;
  height: 500px;
  background-color: #fafafa;
}
form{
  margin-bottom: 10px;
}

input {
  border-radius: 8px;
  border: none;
  background-color: #c9c9c9;
  padding: 12px;
}

h2 {
  color: #3be080;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: #fdfdfd;
}
//cima , direita, baixo, esquerda
button {
  width: 200px;
  height: 30px;
  background-color: #47855c;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 12px;
}

$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #c9c9c9;
