<body class="component">
  <div>
    <img src="../../../assets/Diet-rafiki.svg" alt="" />
    <div class="Cardtexto">
        <div class="subCard">
            <h3>Risco de desnutrição</h3>
            <ul>
                <li>
                    Aumentar a ingestão calórica: Consumir alimentos ricos em calorias, mas saudáveis, como nozes, sementes, abacates, azeite de oliva, e manteigas de amendoim.
                </li>
                <li>
                    Proteínas de qualidade: Consumir proteínas como ovos, carnes magras, peixes, legumes, e laticínios para ajudar no ganho de massa muscular.
                </li>
                <li>
                    Carboidratos complexos: Pães integrais, massas, batata-doce, quinoa e arroz integral fornecem energia sustentável.
                </li>
            </ul>
        </div>
        <div class="subCard">
            <h3>Peso normal</h3>
            <ul>
                <li>
                   Manter uma dieta balanceada: Incluir alimentos variados de todos os grupos alimentares (proteínas, carboidratos, gorduras saudáveis, frutas, legumes e verduras).
                </li>
                <li>
                    Hidratação: Beber bastante água diariamente e limitar o consumo de bebidas açucaradas.
                </li>
                <li>
                    Manter a prática de exercícios físicos: Além de uma boa alimentação, o exercício é importante para manter o peso.
                </li>
            </ul>
        </div>
        <div class="subCard">
            <h3> Sobrepeso</h3>
            <ul>
                <li>
                    Aumentar o consumo de fibras: Frutas, legumes, grãos e sementes melhoram a digestão e ajudam na saciedade.
                </li>
                <li>
                    Cortar alimentos ultraprocessados: Reduzir o consumo de fast-food, bebidas açucaradas, frituras e snacks industriais.
                </li>
                <li>
                    Carboidratos complexos: Pães integrais, massas, batata-doce, quinoa e arroz integral fornecem energia sustentável.
                </li>
            </ul>
        </div>
        <div class="subCard">
            <h3>Obesidade</h3>
            <ul>
                <li>
                    Consultar um nutricionista: Uma abordagem personalizada e acompanhamento profissional pode ajudar a equilibrar melhor a dieta e promover a perda de peso.
                </li>
                <li>
                    Evitar bebidas açucaradas: Reduzir ou eliminar o consumo de refrigerantes, sucos industrializados e bebidas alcoólicas.
                </li>
                <li>
                    Aumentar o consumo de proteínas: Para ajudar no controle da fome, incluir proteínas como peixes, carnes magras, ovos e leguminosas em cada refeição.
                </li>
            </ul>
        </div>
    </div>
  </div>
</body>
