<body class="component">
  <div>
    <img src="../../../assets/Diet-rafiki.svg" alt="" />
    <div class="Cardtexto">
        <div class="subCard">
            <h3>classificação</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium tempore totam in sapiente debitis velit sed neque id, eum, expedita ad, facilis corporis dolor fuga ipsam blanditiis. Optio, excepturi veritatis?</p>
        </div>
        <div class="subCard">
            <h3>classificação</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium tempore totam in sapiente debitis velit sed neque id, eum, expedita ad, facilis corporis dolor fuga ipsam blanditiis. Optio, excepturi veritatis?</p>
        </div>
        <div class="subCard">
            <h3>classificação</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium tempore totam in sapiente debitis velit sed neque id, eum, expedita ad, facilis corporis dolor fuga ipsam blanditiis. Optio, excepturi veritatis?</p>
        </div>
    </div>
  </div>
</body>
